<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="Artifactory" value="https://articloudpro.jfrog.io/artifactory/api/nuget/v3/bestinver-nuget" protocolVersion="3" />
	</packageSources>
	<packageSourceCredentials>
		<Artifactory>
			<add key="Username" value="%NUGET_USER%" />
			<add key="ClearTextPassword" value="%NUGET_PASSWORD%" />			
		</Artifactory>		
	</packageSourceCredentials>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="Artifactory">
			<package pattern="BestInver.*" />
			<package pattern="bestinver.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>