
<div id="landing_page">
    <section class="popup popup-general-cta-access">
        <div class="popup_inner">
            <div>
                <h1 class=popup_title>Empieza a invertir con Bestinver</h1>
                <p class=popup_subtitle>Hazte Inversor en sólo 4 pasos:</p>
                <div class=module-registration-header>
                    <ul class=module_list>
                        <li data-perc=0 class="active module_list-element">
                            <div class=number>
                                <svg width=58 height=58>
                                    <circle cx="50%" cy="50%" r=28 stroke="#b59971" stroke-width=1 fill=transparent class=circle_background></circle>
                                    <circle cx="50%" cy="50%" r=28 stroke="#b59971" stroke-width=2 stroke-dashoffset=176 stroke-dasharray=176 fill=transparent class=circle_complete></circle>
                                </svg><span data-steps="/4" class=number-data>1</span>
                            </div><span class=title>Datos personales</span>
                        </li>
                        <li data-perc=0 class="active module_list-element">
                            <div class=number>
                                <svg width=58 height=58>
                                    <circle cx="50%" cy="50%" r=28 stroke="#b59971" stroke-width=1 fill=transparent class=circle_background></circle>
                                    <circle cx="50%" cy="50%" r=28 stroke="#b59971" stroke-width=2 stroke-dashoffset=176 stroke-dasharray=176 fill=transparent class=circle_complete></circle>
                                </svg><span data-steps="/4" class=number-data>2</span>
                            </div><span class=title>Realiza tu inversión</span>
                        </li>
                        <li data-perc=0 class="active module_list-element">
                            <div class=number>
                                <svg width=58 height=58>
                                    <circle cx="50%" cy="50%" r=28 stroke="#b59971" stroke-width=1 fill=transparent class=circle_background></circle>
                                    <circle cx="50%" cy="50%" r=28 stroke="#b59971" stroke-width=2 stroke-dashoffset=176 stroke-dasharray=176 fill=transparent class=circle_complete></circle>
                                </svg><span data-steps="/4" class=number-data>3</span>
                            </div><span class=title>Test de cliente</span>
                        </li>
                        <li data-perc=0 class="active module_list-element">
                            <div class=number>
                                <svg width=58 height=58>
                                    <circle cx="50%" cy="50%" r=28 stroke="#b59971" stroke-width=1 fill=transparent class=circle_background></circle>
                                    <circle cx="50%" cy="50%" r=28 stroke="#b59971" stroke-width=2 stroke-dashoffset=176 stroke-dasharray=176 fill=transparent class=circle_complete></circle>
                                </svg><span data-steps="/4" class=number-data>4</span>
                            </div><span class=title>Firma y envío de documentación</span>
                        </li>
                    </ul>
                </div>
                <p class="popup_subtitle pt20">Necesitarás tener a mano:</p>
                <ul class=popup_list>
                    <li class=popup_list-element>
                        <i class=icon>
                            <svg width="39" height="27" viewBox="0 0 39 27" xmlns="http://www.w3.org/2000/svg">
                                <g stroke="#000" fill="none" fill-rule="evenodd">
                                    <path stroke-width="2" d="M1 25.738h36.015V1H1z"></path>
                                    <path d="M14.52 9.836c0-1.608-1.335-2.912-2.983-2.912-1.648 0-2.984 1.304-2.984 2.912 0 1.609 1.336 2.913 2.984 2.913s2.984-1.304 2.984-2.913zM16.746 19.814H6.326s0-5.084 5.21-5.084 5.21 5.084 5.21 5.084zM21.727 8.313h9.962M21.727 11.09h9.962M21.727 13.868h7.116" stroke-width="1.389"></path>
                                </g>
                            </svg>
                        </i><span>Documento de identidad</span>
                    </li>
                    <li class=popup_list-element>
                        <i class=icon>
                            <svg width="23" height="36" viewBox="0 0 23 36" xmlns="http://www.w3.org/2000/svg">
                                <g fill="none" fill-rule="evenodd">
                                    <path stroke="#000" stroke-width="2" d="M1 34.817h20.438V1H1z"></path>
                                    <path d="M1.507 27.533h19.425M1.507 4.993h19.425" stroke="#000" stroke-width="1.179"></path>
                                    <path d="M12.67 30.662a1.25 1.25 0 1 1-2.501-.001 1.25 1.25 0 0 1 2.5 0" fill="#000" fill-rule="nonzero"></path>
                                </g>
                            </svg>
                        </i><span>Tu teléfono móvil</span>
                    </li>
                </ul>
                <ul class=popup_buttons_list style="">
                    <li class=popup_buttons_list-element>
                        <a href='@Url.Action("Index","Home")/' title="Continuar" class="button brown toWhite" id="btn-continue">
                            <span>Continuar</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
