@model ApproveCotitularModel
@using BestInver.WebPrivada.Shared.Models.Microservices.Tests.Enums

<div id='approve-applicant-modal' class='modal fade' role="dialog" data-target="#approve-applicant-modal" aria-labelledby="approveApplicantModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="cotitularLabel">Validar cotitulares</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="ApproveApplicant" asp-controller="Details" asp-antiforgery="true" method="post" data-ajax="true" data-ajax-method="POST">
                <div class="modal-body modal-lg">

                    <input asp-for="Id" hidden />
                    <input asp-for="RequestId" hidden />
                    <input asp-for="AlertTypeId" hidden />

                    <div class="row">


                        <div class="form-group col-md-4">
                            <label asp-for="AlertType"></label>
                            <input asp-for="AlertType" class="form-control" disabled />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="StartDate"></label>
                            <input asp-for="StartDate" class="form-control" disabled />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Responsbile"></label>
                            <input asp-for="Responsbile" class="form-control" disabled />
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label asp-for="Details"></label>
                            <textarea asp-for="Details" class="form-control  col-md-12" rows="2" cols="5" disabled></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label asp-for="Comments"></label>
                            <textarea asp-for="Comments" class="form-control  col-md-12" rows="2" cols="5"></textarea>
                            <span asp-validation-for="Comments" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label asp-for="AlertStatus"></label>
                            <select asp-for="AlertStatus" class="form-control">
                                <option value="" hidden disabled selected>Seleccione una opción</option>
                                <option value="@((int)BestInver.WebPrivada.Shared.Models.Microservices.Tests.Enums.AlertStatus.Accepted)">Aceptada</option>
                                <option value="@((int)BestInver.WebPrivada.Shared.Models.Microservices.Tests.Enums.AlertStatus.Denied)">Denegada (esta acción cancela la petición)</option>
                            </select>
                            <span asp-validation-for="AlertStatus" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-save="modal">Confirmar resolución</button>
                </div>
            </form>
        </div>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />