<div id="documentationdelivery-id" class="form_block-content documentation_info big" data-extrainputs="documentationdelivery-idfiles02">
    <span class="title" />
    <p class="text" data-bind="text: currentApplicantSendingDocumentTitle"> </p>
    <input type="file" name="documentationdelivery-idfiles01" accept="image/*,application/pdf" id="documentationdelivery-idfiles01" class="empty">
    <div id="documentationdelivery-idfiles-data" class="upload_data hidden">
        <ul class="upload_list"></ul>
    </div>
    <label id="documentationdelivery-idfiles-label" for="documentationdelivery-idfiles01" class="upload_label link brown darken">
        <i class="icon">
            <svg width="14" height="16" viewBox="0 0 14 16" xmlns="http://www.w3.org/2000/svg">
                <g stroke="#B59971" fill="#B59971" fill-rule="evenodd" opacity=".8">
                    <path stroke-width=".5" d="M1 14.821h12v-.884H1z"></path>
                    <path stroke-width=".3" d="M11.11 4.753l-.645.634-3.03-3.035V11h-.9V2.337l-3.09 3.05-.645-.634L7 .643z"></path>
                </g>
            </svg>
        </i><span>Adjuntar documentos</span>
    </label>
    <span class="error_message"></span>
</div>