<div class="form_block">

    <div class="form_block-content big">
        <div class="infor">
            <span data-bind="text: personalDataModel().userName() + ': ' + personalDataModel().phoneNumber()"></span>
        </div>
    </div>

</div>