<section class="module-registration-header">
    <button class="module_button"><i class="arrow"></i><span class="module_button-text">Resumen</span></button>
    <ul class="module_list">
        <li data-perc="0" steps="4" class="active module_list-element" id="progress-1">
            <div class="number">
                <svg width="58" height="58">
                    <circle cx="50%" cy="50%" r="28" stroke="#b59971" stroke-width="1" fill="transparent" class="circle_background"></circle>
                    <circle cx="50%" cy="50%" r="28" stroke="#b59971" stroke-width="2" stroke-dashoffset="176" stroke-dasharray="176" fill="transparent" class="circle_complete" style="stroke-dasharray: 175.929px; stroke-dashoffset: 175.929px;"></circle>
                </svg><span data-steps="/4" class="number-data" style="opacity: 0.3;">1</span>
            </div><span class="title">Datos personales</span>
        </li>
        <li data-perc="0" steps="1" class="inactive module_list-element" id="progress-2">
            <div class="number">
                <svg width="58" height="58">
                    <circle cx="50%" cy="50%" r="28" stroke="#b59971" stroke-width="1" fill="transparent" class="circle_background"></circle>
                    <circle cx="50%" cy="50%" r="28" stroke="#b59971" stroke-width="2" stroke-dashoffset="176" stroke-dasharray="176" fill="transparent" class="circle_complete" style="stroke-dasharray: 175.929px; stroke-dashoffset: 175.929px;"></circle>
                </svg><span data-steps="/4" class="number-data" style="opacity: 0.3;">2</span>
            </div><span class="title" data-bind="text: titleStep2">Realiza tu inversión</span>
        </li>
        <li data-perc="0" steps="1" class="inactive module_list-element" id="progress-3">
            <div class="number">
                <svg width="58" height="58">
                    <circle cx="50%" cy="50%" r="28" stroke="#b59971" stroke-width="1" fill="transparent" class="circle_background"></circle>
                    <circle cx="50%" cy="50%" r="28" stroke="#b59971" stroke-width="2" stroke-dashoffset="176" stroke-dasharray="176" fill="transparent" class="circle_complete" style="stroke-dasharray: 175.929px; stroke-dashoffset: 175.929px;"></circle>
                </svg><span data-steps="/4" class="number-data" style="opacity: 0.3;">3</span>
            </div><span class="title">Test de cliente</span>
        </li>
        <li data-perc="0" steps="4" class="inactive module_list-element" id="progress-4">
            <div class="number">
                <svg width="58" height="58">
                    <circle cx="50%" cy="50%" r="28" stroke="#b59971" stroke-width="1" fill="transparent" class="circle_background"></circle>
                    <circle cx="50%" cy="50%" r="28" stroke="#b59971" stroke-width="2" stroke-dashoffset="176" stroke-dasharray="176" fill="transparent" class="circle_complete" style="stroke-dasharray: 175.929px; stroke-dashoffset: 175.929px;"></circle>
                </svg><span data-steps="/4" class="number-data" style="opacity: 0.3;">4</span>
            </div><span class="title">Firma y envío de documentación</span>
        </li>
    </ul>
</section>