<div class="form_block content big">
    <p class="form_inlet">
        Te vamos a enviar los documentos que tienes que firmar a la dirección postal que nos has facilitado.
    </p>
</div>

<div class="form_block content big">
    <p class="form_inlet">
        Cuando los recibas, lee los documentos y fírmalos. Una copia es para ti y otra copia es para Bestinver.
    </p>
</div>

<div class="form_block content big">
    <p class="form_inlet">
        Solicita un mensajero gratuito llamándonos al 900 878 280 para que recoja:
        <ul class="form_list">
            <li class="form_list-element">Tus documentos firmados  por todos los titulares</li>
            <li class="form_list-element">Una copia de los NIF/NIE de todos los titulares.</li>
        </ul>
    </p>
</div>

<div class="form_block buttons">
    <div class="form_block-content buttons big">
        <div class="button_next">
            <a href="" title="Continuar" class="button brown toWhite" id="save-signature-data" data-bind="click:function ()   {  $root.MessageToEmail(); Navigation.NextStep($root.CurrentStep, 'Success'); }"><span>Continuar</span></a>
        </div>
    </div>
</div>
