@{
    Layout = "~/Views/Shared/_Layout_Remediacion.cshtml";
    @model BESTINVER.GestorAltas.Web.Public.Models.Remediacion.RemediacionErrorModel;
}

@Html.AntiForgeryToken()


<div class="registration_form">
    <div class="form_block-content general_error error">
        <span class="error_message">@Model.ErrorMessage</span>
    </div>
</div>