<ul id="applicant-test-questions" class="form_text-questions_list" data-bind="with: $root.CurrentKnowledgeTest">

    <li class="form_text-questions_list_element" data-bind="with: confirmaQuestion">
        <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
        <div class="form_block-content big checkRadio_size">
            <input type="checkbox" data-bind="checked: checked" id="confirm-check" name="confirm-check">
            <label for="confirm-check">
                <i class="icon"></i>
                <span class="text">
                    Sí, confirmo
                </span>
            </label>
        </div>
        <div class="form_block-content big">
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>
    </li>

    <!-- ko if: confirmaQuestion().checked()  -->

    <li class="form_text-questions_list_element" data-bind="with: fiscalQuestion">
        <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
        <div class="form_block-content big">
            <label for="fiscal-residence"><span data-bind="html: questionLabel"></span></label>

            <!-- ko if: allowcountry()-->
            <select id="second-residence-country"
                    data-bind="options: $root.countryCollection,  optionsText: 'valor', value: value, optionsCaption: 'Seleccionar país'"></select>
            <!-- /ko -->
            <!-- ko if: !allowcountry()  -->
            <input type="text" name="fiscal-residence-name" id="fiscal-residence-name" data-bind="value: countryName" readonly="readonly">
            <!-- /ko -->
        </div>
        <div class="form_block-content big">
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>

        <!-- ko if: selected()  -->

        <div class="form_block-content big" data-bind="with: DocumentType">
            <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
            <label for="fiscal-residence-type"><span data-bind="html: questionLabel"></span></label>
            <select id="fiscal-residence-type"
                    data-bind="options: answers,  optionsText: 'label', value: value,
            optionsCaption: 'Seleccionar tipo'" onchange="window.SetCleaveClass()"></select>
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>

        <div class="form_block-content big" data-bind="with: DocumentNnumber">
            <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
            <label for="fiscal-residence-number"><span data-bind="html: questionLabel"></span></label>
            <input type="text" name="fiscal-residence-number" id="fiscal-residence-number" data-bind="value: value" maxlength="15">
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>

        <div class="form_block-content date" data-bind="with: DocumentExpirationDate">
            <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
            <label>
                <span data-bind="html: questionLabel">
                </span>
            </label>
            <input type="text" class="input-integer-2 numonly" placeholder="dd" max="31" min="1" name="fiscal-residence-expiration-day" id="fiscal-residence-expiration-day"
                   data-bind="value: value().Day">
            <input type="text" class="input-integer-2 numonly" placeholder="mm" max="12" min="1" name="fiscal-residence-expiration-month" id="fiscal-residence-expiration-month"
                   data-bind="value: value().Month">
            <input type="text" class="input-integer-4 numonly" placeholder="aaaa" max="9999" min="1900" name="fiscal-residence-expiration-year" id="fiscal-residence-expiration-year"
                   data-bind="value: value().Year">
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>

        <div class="form_block-content big" data-bind="with: DocumentIdentification">
            <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
            <label for="fiscal-residence-identification"><span data-bind="html: questionLabel"></span></label>
            <input type="text" name="fiscal-residence-identification" id="fiscal-residence-identification" data-bind="value: value" maxlength="15">
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>

        <!-- /ko -->
    </li>

    <li class="form_text-questions_list_element" data-bind="with: secondResidenceQuestion">
        <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
        <div class="form_block-content big">
            <label for="second-residence-country"><span data-bind="html: questionLabel"></span></label>
            <!-- ko if: enabled()  -->
            <select id="second-residence-country"
                    data-bind="options: $root.ForeignCountryList,  optionsText: 'valor', value: value, optionsCaption: 'Seleccionar país'"></select>
            <!-- /ko -->
            <!-- ko if: !enabled()  -->
            <input type="text" name="second-residence-name" id="second-residence-name" value="Seleccionar país" readonly="readonly">
            <!-- /ko -->
        </div>

        <!-- ko if: selected()  -->

        <div class="form_block-content big" data-bind="with: SecondDocumentType">
            <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
            <label for="second-residence-type"><span data-bind="html: questionLabel"></span></label>
            <select id="second-residence-type"
                    data-bind="options: answers,  optionsText: 'label', value: value,
            optionsCaption: 'Seleccionar tipo'" onchange="window.SetCleaveClass()"></select>
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>

        <div class="form_block-content big" data-bind="with: SecondDocumentNumber">
            <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
            <label for="second-residence-number"><span data-bind="html: questionLabel"></span></label>
            <input type="text" name="second-residence-number" id="second-residence-number" data-bind="value: value" maxlength="15">
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>

        <div class="form_block-content date" data-bind="with: SecondDocumentExpirationDate">
            <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
            <label>
                <span data-bind="html: questionLabel"></span>
            </label>
            <input type="text" class="input-integer-2 numonly" placeholder="dd" max="31" min="1" name="second-residence-expiration-day" id="second-residence-expiration-day"
                   data-bind="value: value().Day">
            <input type="text" class="input-integer-2 numonly" placeholder="mm" max="12" min="1" name="second-residence-expiration-month" id="second-residence-expiration-month"
                   data-bind="value: value().Month">
            <input type="text" class="input-integer-4 numonly" placeholder="aaaa" max="9999" min="1900" name="second-residence-expiration-year" id="second-residence-expiration-year"
                   data-bind="value: value().Year">
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>

        <div class="form_block-content big" data-bind="with: SecondDocumentIdentification">
            <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
            <label for="second-residence-identification"><span data-bind="html: questionLabel"></span></label>
            <input type="text" name="second-residence-identification" id="second-residence-identification" data-bind="value: value" maxlength="15">
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>
        <!-- /ko -->
    </li>

    <li class="form_text-questions_list_element" data-bind="with: usaSecurityNumberQuestion">
        <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
        <div class="form_block-content big">
            <label><span data-bind="html: questionLabel"></span></label>
            <input type="text" name="ssn-number" id="ssn-number" data-bind="value: value" maxlength="9">
        </div>
    </li>

    <li class="form_text-questions_list_element" data-bind="with: occupationQuestion">
        <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
        <div class="form_block-content big">
            <label><span data-bind="html: questionLabel"></span></label>
            <select id="occupation-type"
                    data-bind="options: answers,  optionsText: 'label', value: value,
            optionsCaption: 'Seleccionar una respuesta'"></select>
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>

    </li>

    <li class="form_text-questions_list_element tl-anidate-checks" data-bind="with: sectorQuestion">
        <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
        <div class="form_block-content big">
            <label><span data-bind="html: questionLabel"></span></label>
        </div>
        <!-- ko foreach: answers -->
        <div class="form_block-content big">
            <input type="checkbox" data-bind="attr:{id: 'sector-answer' + id()  , name: 'sector-answer' + id() } ,
                       checked: checked , click: $parent.manageCheck" />
            <label data-bind="attr: {for: 'sector-answer' + id() }">
                <i class="icon"></i>
                <span class="text" data-bind="text: label, attr:{'data-tltooltip': tooltip }"></span>
                <sup data-bind="text: sup"></sup>
            </label>
            <!-- ko if: showExtended()  -->
            <input type="text" class="form-control"
                   data-bind="value: extendedanswer, attr:{id: 'extended-sector' + id() }" />
            <!-- /ko -->
        </div>

        <!-- ko if: showSubSectors()  -->
        <!-- ko foreach: subSectors -->
        <div class="form_block-content big tl-check-children" style="margin-left: 40px">
            <input type="checkbox" data-bind="attr:{id: 'sector-subanswer' + id()  , name: 'sector-subanswer' + id(), disabled: $parent.checked() == false } ,
                       checked: checked, click: $parent.manageSubCheck" />
            <label data-bind="attr: {for: 'sector-subanswer' + id() }">
                <i class="icon"></i>
                <span class="text" data-bind="text: label, attr:{'data-tltooltip': tooltip }"></span>
                <sup data-bind="text: sup"></sup>
            </label>
            <!-- ko if: showExtended()  -->
            <input type="text" class="form-control"
                   data-bind="value: extendedanswer, attr:{id: 'extended-sector' + id() }" />
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
        <div class="form_block-content big">
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>
    </li>

    <!-- ko if: visibleCargo()  -->

    <li class="form_text-questions_list_element" data-bind="with: cargoQuestion">
        <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
        <div class="form_block-content big">
            <label><span data-bind="html: questionLabel"></span></label>
            <select id="cargo-select" data-bind="options: answers,  optionsText: 'label', value: value, optionsCaption: 'Seleccionar una respuesta'"></select>
        </div>

        <!-- ko if: visibleOtros()  -->
        <div class="form_block-content big" data-bind="with: OtrosAnswer">
            <label><span>En caso de no ser autónomo, indique la denominación social de la empresa (especificar):</span></label>
            <input type="text" name="other-cargo" id="other-cargo" data-bind="value: value" maxlength="30">
        </div>
        <!-- /ko -->
        <div class="form_block-content big">
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>
    </li>

    <!-- /ko -->

    <li class="form_text-questions_list_element" data-bind="with: publicQuestion">
        <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
        <div class="form_block-content big">
            <label>
                <span data-tltooltip="Persona de responsabilidad pública (PRP): Personas físicas que desempeñen o hayan desempeñado funciones públicas a escala comunitaria, nacional e internacional contempladas en la “Auto declaración”. No se incluyen en esta categoría de Responsabilidad Pública a los empleados públicos de niveles intermedios o inferiores.">
                    Persona con Responsabilidad Pública (cargo vigente o cesado en los dos últimos dos años)<sup>3</sup>
                </span>
            </label>
            <select id="is-public-person" data-bind="options: answers,  optionsText: 'label', value: value, optionsCaption: 'Seleccionar una respuesta'"></select>
        </div>

        <!-- ko if:showextended() -->
        <div class="form_block-content big">
            <label for="public-position-entity"><span>Entidad</span></label>
            <input type="text" name="public-position-entity" id="public-position-entity" data-bind="value: entity().value" maxlength="40">

            <label for="public-position-department"><span>Departamento</span></label>
            <input type="text" name="public-position-department" id="public-position-department" data-bind="value: department().value" maxlength="40">

            <label for="public-position-pos"><span>Cargo</span></label>
            <input type="text" name="public-position-pos" id="public-position-pos" data-bind="value: position().value" maxlength="40">
        </div>
        <!-- /ko -->

        <div class="form_block-content big">
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>
    </li>

    <!-- ko if: visiblePrp()  -->

    <li class="form_text-questions_list_element" data-bind="with: prpQuestion">
        <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
        <div class="form_block-content big">
            <label><span data-bind="html: questionLabel"></span></label>
        </div>
        <!-- ko foreach: answers -->
        <div class="form_block-content big">
            <input type="checkbox" data-bind="attr:{id: 'prp-answer' + id()  , name: 'prp-answer' + id() } ,
                       checked: checked , click: $parent.manageCheck" />
            <label data-bind="attr: {for: 'prp-answer' + id() }">
                <i class="icon"></i>
                <span class="text" data-bind="text: label"></span>
            </label>
            <!-- ko if: checked()  -->
            <div class="form_block-content big tl-prp-detalle" data-bind="attr:{id: 'prp-extended' + id()}" style="display: block;">
                <label data-bind="attr:{for: 'prp-extended' + id()}"><span>Detallar</span></label>
                <input type="text" class="form-control" data-bind="value: extendedtext, attr:{id: 'prp-extended' + id(), name: 'prp-extended' + id()}" maxlength="40"/>
            </div>
            <!-- /ko -->
        </div>

        <!-- /ko -->
        <div class="form_block-content big">
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>
    </li>

    <!-- /ko -->

    <li class="form_text-questions_list_element" data-bind="with: ongQuestion">
        <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>

        <div class="form_block-content big">
            <label data-bind="html: questionLabel"></label>
            <select id="is-ong-person" data-bind="options: answers,  optionsText: 'label', value: value, optionsCaption: 'Seleccionar una respuesta'"></select>
        </div>

        <!-- ko if:showextended() -->
        <div class="form_block-content big">
            <label for="ong-entity"><span>Entidad</span></label>
            <input type="text" name="ong-entity" id="ong-entity" data-bind="value: entity().value" maxlength="40">

            <label for="ong-pos"><span>Cargo</span></label>
            <input type="text" name="ong-pos" id="ong-pos" data-bind="value: position().value" maxlength="40">
        </div>
        <!-- /ko -->


        <div class="form_block-content big">
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>
    </li>

    <li class="form_text-questions_list_element" data-bind="with: originQuestion">
        <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
        <div class="form_block-content big">
            <label data-bind="html: questionLabel"></label>
        </div>
        <div class="form_block-content big checkRadio_size">
            <!-- ko foreach: answers -->
            <input type="checkbox" data-bind="attr:{id: 'origin-answer' + id()  , name: 'origin-answer' + id() } ,
                           checked: checked" />
            <label data-bind="attr: {for: 'origin-answer' + id() }">
                <i class="icon"></i>
                <span class="text" data-bind="text: label"></span>
            </label>
            <input name="origin-extended" type="text" class="form-control" style="min-width: 100%"
                   data-bind="value: extendedtext , visible: showextendedinput" maxlength="255" />
            <!-- /ko -->
        </div>
        <div class="form_block-content big">
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>
    </li>

    <li class="form_text-questions_list_element" data-bind="with: annualQuestion">
        <h4 class="form_text-questions_title" data-bind="text: questionText"></h4>
        <div class="form_block-content big">
            <label data-bind="html: questionLabel"></label>
        </div>
        <div class="form_block-content big checkRadio_size">
            <!-- ko foreach: answers -->
            <input type="checkbox" data-bind="attr:{id: 'annual-answer' + id()  , name: 'annual-answer' + id() } ,
                           checked: checked, click: $parent.ManageCheck" />
            <label data-bind="attr: {for: 'annual-answer' + id() }">
                <i class="icon"></i>
                <span class="text" data-bind="text: label"></span>
            </label>
            <!-- /ko -->
        </div>
        <div class="form_block-content big">
            <span class="error_message" data-bind="validationMessage: questionOK"></span>
        </div>
    </li>

    <!-- /ko -->

</ul>