
<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
        <span class="text-muted ">&copy; @DateTime.UtcNow.Year - Bestinver</span>
        @await Html.PartialAsync("_SelectLanguagePartial")

    </div>
</footer>