<div class="row table-leyend">
    <div class="col-md-6 col-md-offset-6">
        <p><span class="mr-2 fas fa-info"></span>Leyenda. Flujo de solicitud:</p>
        <span class='badge badge-success'>Prospect</span>
        <span class='fas fa-menu-right'></span>
        <span class='badge badge-success'>Pendiente de firma</span>
        <span class='fas fa-menu-right'></span>
        <span class='badge badge-success'>Pendiente DNI</span>
        <span class='fas fa-menu-right'></span>
        <span class='badge badge-success'>Pendiente recibir dinero</span>
        <span class='fas fa-menu-right'></span>
        <span class='badge badge-success'>Esperando RD</span>
        <span class='fas fa-menu-right'></span>
        <span class='badge badge-primary'>Alta</span>
    </div>
</div>