<div class="ml-auto d-flex  flex-row align-content-center justify-content-end">
    <div class="table-leyend">
        <p><span class="fas fa-info mr-2"></span>Leyenda:</p>
        <span class='badge badge-danger mr-2'>T</span><span>Alerta Terrorismo</span>
        <span class='badge badge-danger mr-2'>PBC</span><span>Alerta PBC</span>
        <span class='badge badge-danger mr-2'>F</span><span>Alerta Firma</span>
        <span class='badge badge-warning mr-2'>O</span><span>Otras alertas</span>
    </div>
</div>